#gridContainer{
    align-content: center;
    width: 100%;
}
#list{
    background-color: white;
    color: black;
}
#nameText{
    color:black;
    background-color: red;
}
dx-list{
    height: 600x;
    width: 400px;
    margin: 20px 20px 20px 20px;
}
#listBox{
    display: block;
    margin: 20px 20px 20px 20px;
}
#join { margin-left: 30px;}