#overlay{
    display: grid;
    grid-template-columns: 300px  200px 200px 200px auto;
    grid-template-rows: 300px 200px 200px auto;
    background-color: orange;
    background-image: url("src\assets\catground.png");
    background-size: cover;
}
#logo{
    height:200px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    grid-column: 1;
    grid-row: 1;
    background-image: url("src\assets\logoSSO.png");
}

#loginWindow{
    grid-area: 2 / 3 / 2 / 2;
    text-align: center;
    
}

  