#overlay{
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-rows: auto auto auto;
    background-color: orange;
    background-image: url("src\assets\catground.png");
    background-size: cover;
}

#loginWindow{
    grid-area: 2 / 2 / 3 / 4;
    
}

  