#overlay{
    display: grid;
    grid-template-columns: 10px 200px auto;
    grid-template-rows: 15px 200px auto;
    background-color: orange;
    background-image: url("src\assets\catground.png");
    background-size: cover;
}
#logo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("src\assets\logoSSO.png");
}

#loginWindow{
    grid-area: 2 / 2 / 3 / 4;
    
}

  